.confirmation-vote-card {
    /* colors */
    background-color: var(--primary-color);
    color: var(--text-color);

    /*  form (with, position, ...)  */
    width: 340px;
    margin: auto;
    padding: 25px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.confirmation-vote-card .description {
    text-align: center;
}

.selection {
    /* colors */
    background-color: #282F39;
    color: var(--accent-color);

    /*    form (position, with, ...) */
    padding: 8px 19px;
    border-radius: 25px;
    margin-top: 25px;
}